<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="http://localhost/site-schoolboard/home/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li role="presentation"><a href="http://localhost/site-schoolboard/about/">About</a></li>
        <li role="presentation"><a href="http://localhost/site-schoolboard/support/">Support</a></li>
        <li role="presentation" class="dropdown pull-right">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="http://localhost/site-schoolboard/facultylogin/">Faculty</a></li>
                <li><a href="http://localhost/site-schoolboard/studentlogin/">Student</a></li>
            </ul>
        </li>
        <li role="presentation" class="pull-right"><a href="http://localhost/site-schoolboard/register/">Register</a></li>
    </ul>
</div>